<header>
    <h1>TODOLIST</h1>
    <nav class="nav">
        <label class="default-labelForm -select">
            <span>상태</span>
            <select name="" id="">
                <option value="">전체</option>
                <option value="">대기</option>
                <option value="">진행중</option>
                <option value="">완료</option>
            </select>
        </label>

        <label class="default-labelForm -select">
            <span>카테고리</span>
            <select name="" id="">
                <option value="">전체</option>
                <option value="">쇼핑</option>
                <option value="">집안일</option>
                <option value="">기타</option>
            </select>
        </label>

        <label class="default-labelForm -check">
            <input type="checkbox"/>
            <span>기한 임박</span>
        </label>

        <a href="#" class="default-btn" onclick="$('#todoList').addClass('-modeDelete');"><span>삭제</span></a>
    </nav>
</header>