<div class="todoWrite">
    <div class="todoWrite__item -category">
        <span class="todoWrite__item__title">카테고리</span>
        <select class="todoWrite__item__form" name="categorySelect" id="">
            <option value="">선택해주세요</option>
            <option value="shopping">쇼핑</option>
            <option value="homework">집안일</option>
            <option value="officework">회사업무</option>
            <option value="schedule">일정</option>
            <option value="etc">기타</option>
        </select>
    </div>
    <div class="todoWrite__item">
        <span class="todoWrite__item__title">할 일</span>
        <input class="todoWrite__item__form" type="text" value="" placeholder="할 일을 작성해주세요."/>
    </div>
    <div class="todoWrite__item">
        <span class="todoWrite__item__title">시작일</span>
        <input class="todoWrite__item__form" type="datetime-local"/>
    </div>
    <div class="todoWrite__item">
        <span class="todoWrite__item__title">완료예정일</span>
        <input class="todoWrite__item__form" type="datetime-local"/>
    </div>

    <div class="todoWrite__item">
        <span class="todoWrite__item__title">메모</span>
        <textarea class="todoWrite__item__form" name="" id="" cols="30" rows="10"></textarea>
    </div>
</div>

<!--

category:
"shopping"
deadline:
202201072400
isCompleted:
false
memo:
"쿠팡에서 사기"
startTime:
202201071613
title:
"행드워시 구매하기"

-->