header{ width: 100%; position: sticky; top:-50px; z-index: 50;
  h1{font-size:22px; display: flex; @include center; width: 100%; height: 50px; background: $COLOR_BRAND; color:#ffffff;}
  nav.nav{background: $COLOR_SUBBRAND; display: flex; align-items: center;width: 100%;  height: 40px; padding: 0 10px;}
}