.layer{background: rgba(0,0,0,0.5); width: 100%;height: 100%; position: fixed; top:0; left: 0; display: flex; align-items: center; justify-content: center;
  &__contentWrapper{background: #fff; width: 90%; max-width: 90%; max-height: 80vh;}
  &__header{ width: 100%; display: flex; @include center;font-size: 18px;font-weight: bold;height: 40px;border-bottom: 1px solid #333;}
  &__footer{width: 100%; display: flex; @include center; border-top:1px solid #333; height: 30px;
    >a{font-size: 16px;text-align: center;width: 50%; height: 100%; display: flex; @include center; border-left: 1px solid #333; font-weight: bold;
      &:first-child{border:0;}
    }
    &__submit{color:$COLOR_BRAND;}
    &__close{color: $COLOR_DARKGRAY}
  }
  &__body{margin:10px 0px;padding:0 10px; width: 100%; height: auto;max-height: calc(80vh - 90px); overflow: auto; box-sizing: border-box;}
}